@font-face {
    font-family: inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    font-family: inter;
    font-size: 12px;
}

:root,
.card-content,
.user-info,
.user-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root {
    justify-content: center;
    background-color: hsl(0, 0%, 8%);
    height: 100vh;
}

img {
    width: 100px;
    border-radius: 50px;
}

.card-content, button {
    color: white;
}

.card-content {
    width: 300px;
    background-color: rgb(36, 36, 36);
    border-radius: 8px;

    padding: 32px;
    gap: 24px;
}

.user-info, .user-socials {
    gap: 8px;
    width: 100%;
}

.location {
    color: greenyellow;
}

button {
    background-color: rgb(52, 52, 52);
    border: 0;
    padding: 8px 52px;
    border-radius: 6px;
    width: 100%;
    flex: 1 1 auto;
}

button:hover {
    background-color: rgb(58, 58, 58);
}